@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin: 0; 
    padding: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/* header {
  background: #55d6aa;
} */

header::after {
  content: '';
  display: table;
  clear: both;
}

/* .logo {
  float: left;
  padding: 10px 0;
} */

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 0px;
  margin-right: 60px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

/* / change when hoovered, but rn I made it not */
nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.blueRectangle
    {
      position: relative;
      top: 115px;
      margin-left: 1060px;
    }
    .facePic
    {
      position: relative;
      bottom: 220px;
      margin-left: 1040px;
    } 

.standing {
    position: absolute;
      bottom: 0px;
      left: 43%;
      display: block;
      margin: 0; 
      padding: 0;

}
.img-box{
    width: 0px;
}
.img-box img{
    display: block;
}

/* side by side icons */
.column {
    position: relative;
    top: -180px;
    right: 65px;
    float: right;
    width: 5%;
   
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  